@model IEnumerable<ToDoTaskApp.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-success">To Do Task List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Task Title
            </th>
            <th>
               Task Comment
            </th>
            <th>
               Task Date
            </th>
            <th>
                Task Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if ((item.TaskStatus == "done") || (item.TaskStatus == "Done") || (item.TaskStatus == "DONE"))
                {

                    <strike class="text-danger">@Html.DisplayFor(modelItem => item.TaskTitle) </strike>

                }
                else
                {

                    @Html.DisplayFor(modelItem => item.TaskTitle)
                }


            </td>
            <td>
                @if ((item.TaskStatus == "done") || (item.TaskStatus == "Done") || (item.TaskStatus == "DONE"))
                {

                    <strike class="text-danger">@Html.DisplayFor(modelItem => item.TaskComment) </strike>

                }
                else
                {

                    @Html.DisplayFor(modelItem => item.TaskComment)
                }
            </td>
            <td>
                @if ((item.TaskStatus == "done") || (item.TaskStatus == "Done") || (item.TaskStatus == "DONE"))
                {

                    <strike class="text-danger">@Html.DisplayFor(modelItem => item.TaskDate) </strike>

                }
                else
                {

                    @Html.DisplayFor(modelItem => item.TaskDate)
                }
            </td>
            <td>
                @if ((item.TaskStatus == "done") || (item.TaskStatus == "Done") || (item.TaskStatus == "DONE"))
                {

                    <strike class="text-danger">@Html.DisplayFor(modelItem => item.TaskStatus) </strike>

                }
                else
                {

                    @Html.DisplayFor(modelItem => item.TaskStatus)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
